/* Stylos para los botones */
/* BOTONES REUTILIZABLES PARA USAR */

/* Boton Primary */
.btnPrimary {
    background: var(--primary-color);
    color: white;
    border: none;
    padding: 14px 32px;
    border-radius: 7px;
    font-weight: 600;
    text-decoration: none;
    box-shadow: var(--shadow);
}

.btnPrimary:hover {
    transform: translateY(-2px);
    box-shadow: 0 3px 10px rgba(76, 175, 80, 0.2);
    background: var(--secondary-color);
}
/* Boton Secondary */
.btnSecondary {
    background: transparent;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    padding: 12px 30px;
    border-radius: 7px;
    font-weight: 600;
    text-decoration: none;
}

.btnSecondary:hover {
    transform: translateY(-2px);
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

/* Stylo de icono */
.btnIco {
    font-size: 1.3rem;
}