/* Stylos de componente de informacion personal de usuario */
.data-user section {
    display: flex;
    align-items: start;
    gap: 16px;
}
.data-user p {
    font-size: .85rem;
    color: var(--light-text);
    margin-bottom: 16px;
}

/* Informacion personal */
.data-user .data_primary,
.data-user .data_secondary {
    width: 100%;
    height: auto;
}
.data-user .data_primary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.data-user .data_secondary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.data-user section label {
    display: flex;
    flex-direction: column;
    font-size: .85rem;
    color: var(--light-text);
}
.data-user section span {
    font-weight: 500;
    color: var(--text-color);
    border: 2px solid #667eea2d;
    padding: 10px;
    border-radius: 8px;
    background-color: #fbfbfb55;
}

/* Deportes Favoritos */
.data-user .favorites div {
    background-color: #667eea2d;
    padding: 5px 10px;
    font-size: .8rem;
    font-weight: 500;
    border-radius: 16px;
}

/* Desing responsive */
@media (max-width: 768px) {
    .data-user .datas {
        flex-direction: column;
    }
}