.history {
    display: flex;
    flex-direction: column;   
    box-shadow: none !important;
    border-radius: 0 !important;
    background-color: transparent !important;
    padding: 0 !important;
    padding-bottom: 120px !important;
    position: relative;
}
.history .header_history {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.history .header_history .btn_action {
    display: flex;
    gap: 10px;
}
.history .header_history button {
    font-size: 1.5rem;
    background-color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 6px;
    transition: .3s linear;
    box-shadow: 3px 3px 10px #667eea37, 3px 3px 10px #667eea37, 0 0 1px 1px #667eea37;
    color: var(--color1);
}
.history .header_history button:hover {
    background-color: var(--color1);
    box-shadow: none;
    color: white;
    transform: scale(1.05);
}


/* Lista de historial de reservas */
.history .boxs-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    /* border: red solid 1px; */
    width: 100%;
}
.history .box {
    background-color: white;
    border: 1px solid var(--gris-claro);
    padding: 16px;
    border-radius: 10px;
    box-shadow: #667eea37 0px 2px 12px;
    transition: var(--transition);
    cursor: default;
}
.history .box:hover {
    transform: translateY(-4px);
}
.history .header_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}
.history .box h4 {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: .9rem;
    font-weight: 600;
    color: var(--primary-color);
}
.history .box h4 .icon {
    font-size: 1.3rem;
}

.history .body_box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6px;
}
.history .body_box p {
    font-size: .8rem;
    display: flex;
    align-items: center;
    gap: 3px;
}
.history .body_box svg {
    background-color: var(--tertiary-color);
    padding: 3px;
    min-width: 25px;
    min-height: 25px;
    border-radius: 6px;
    color: var(--text-color);
    font-size: 1.5rem;
}
.history .footer_box {
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: end;
}
.history .footer_box p {
    background-color: var(--tertiary-color);
    padding: 4px 0;
    padding: 5px 10px;
    font-size: .8rem;
    font-weight: 600;
    border-radius: 6px;
}


/* Responsive desing */
@media (max-width: 768px) {
    .history .boxs-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 8px;
    }
    .history .box {
        padding: 8px;
    }
    .history .body_box {
        /* grid-template-columns: 1fr; */
        gap: 2px;
    }
    .history .body_box p {
        font-size: .8rem;
    }
     .history .body_box p span {
        padding-right: 5px;
     }
}
