/* Estilos para las tarjetas de establecimientos deportivos */
.facility_card {
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* Encabezado de card */
.facility_card .header_article_facility {
    position: relative;
}
.facility_card .header_article_facility .forma {
    position: absolute;
    background-color: var(--tertiary-color);
    background-color: white;
    inset: 0;
    clip-path: polygon(0 8%, 0 100%, 28% 100%, 100% 100%, 100% 96%, 90% 76%, 74% 86%, 56% 81%, 38% 74%, 15% 79%, 11% 59%, 7% 26%);
    bottom: 6px;
}
.facility_card .header_article_facility img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16/8;
}
.facility_card .info_facility_card {
    position: absolute;
    bottom: 0px;
    color: white;
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.05);
    padding: 6px;
}
.facility_card .info_facility_card h4 {
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.52);
}

.facility_card .info_facility_card .ratings {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: orange;
    font-weight: 600;
}
.facility_card .info_facility_card .stars {
    text-align: center;
    font-size: .8rem;
}

/* Cuerpo de card . body */
.facility_card .body_card_facility {
    padding: 10px 16px;
    padding-bottom: 0;
}
.facility_card .adress_facility {
    color: var(--light-text);
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: .9rem;
}
.facility_card .body_card_facility h5 {
    margin: 8px 0 4px 0;
    font-weight: 600;
}

/* Lista de deportes disponibles */
.facility_card .sports-list {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}
.facility_card .sports-list .sport_tag {
    background-color: var(--tertiary-color);
    font-size: .8rem;
    font-weight: 500;
    padding: 1px 8px;
    border-radius: 14px;
}

/* Servicios de espacio deportivo */
.facility_card .services_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
}
.facility_card .services_list .service_tag {
    color: var(--light-text);
    font-size: .85rem;
    display: flex;
    gap: 4px;
    align-items: center;
}
.facility_card .services_list .service_tag i {
    color: var(--primary-color);
}

/* Detalles , precios y horarios */
.facility_card .card_details {
    display: grid;
    gap: 6px;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--gris-claro);
    margin: 5px 0;
    padding: 6px 0;
}
.facility_card .card_details>div {
    font-weight: 600;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
/* Pie de llamado a la accion - Footer */
.facility_card .accions_card_facility {
    display: flex;
    gap: 10px;
    padding: 10px 16px;
    padding-top: 0;
}
.facility_card .accions_card_facility button {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
}