@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --primary-color: #4ec452;
    --secondary-color: #388E3C;
    --tertiary-color: #4EC4527F;
    --accent-color: rgb(51, 152, 253);
    --text-color: #333;
    --light-text: #767676;
    --gris-claro: rgb(246, 246, 246);
    --gris-medio: rgb(220, 220, 220);
    --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* --border-radius: 12px; */
    --transition: all 0.3s ease;
}

/* Reset y configuración base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #ffffff;
}


/* reset style button */
button {
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}


/* Scrollbar personalizado */
::-webkit-scrollbar {
    width: 8px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}